.background-image
{
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-blend-mode: multiply;
  background-image: url('../../public/background.svg');
}


.background-gradient
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(77, 53, 39, 0.7) 0%,
    rgba(77, 53, 39, 0) 100%
  ), #1E1E1E
}