// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.form-control{
    box-shadow: 0px 0px 0px 2px #000000;
}

.form-control:focus{
    border-color: #000000;
    box-shadow: 0px 0px 0px 2.1px #000000 !important;
}

.btn-primary{
    background-color: #8F5636;
    border: 2.5px solid black;
}

.btn-primary:hover{
    background-color: #7c401d;
    border: 2.5px solid black;
}